.SkillsBlock__main{
    font-family: var(--font-family);
    padding-left: 3rem;
    padding-top:1rem;
    padding-bottom:1rem;
    max-width: 60rem;
    min-width: none;
}

.SkillsBlock__heading{
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 1rem;
    
}

.SkillsBlock__body{
    display: table;
}