.Interests__heading{
    padding-top: 5rem !important;
    padding-left: 3rem;
    text-transform: uppercase;
    font-size:3em;
    color: #3f3f3f;
}

.Interests__main{
    font-family: var(--font-family);
    color: var(--color-text);
}

.Interests__block{
    padding-left: 3rem;
    padding-top:1rem;
    padding-bottom:1rem;
    max-width: 60rem;
    min-width: none;
}