.Sidenav{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100%;
    padding: .5rem 1rem;
    position: sticky;
}

.Sidenav__container{
    position:sticky;
    top: 2%;
}

.Sidenav__image{
    vertical-align: auto;
    margin: 5rem auto 0 auto;
}

@keyframes changeColor{
    0% {
    border-color:rgba(112, 168, 255, 1);
    }
  
    50% {
     border-color: rgba(168, 228, 255, 1);
    }
    
    100% {
     border-color: rgba(112, 168, 255, 1);
    }
   
}
  

.Sidenav__image img{
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid;
    border-color:  rgba(33, 150, 243, 1) 50%;
    border-radius:100%;
    animation: changeColor linear;
    animation-iteration-count: infinite;
    animation-duration: 40s;
    animation-fill-mode: both;

}


.Sidenav__list{
  display: grid;
  margin: 0 auto auto auto;
  flex-direction: column;
  width: 100%;
}

.nav-item{
    display: block;
    font-weight: 800;
    margin: 1rem;
}

.nav-item a {
    font-family: var(--font-family);
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    padding-right: .5rem;
    padding-left: .5rem;
    color: var( --color-nav-text);
}


.gradient__bg{
    /* global 94%+ browsers support */
    background: linear-gradient(180deg, rgba(112, 168, 255, 1) 0%, rgba(112, 168, 255, 1) 66%, rgba(168, 228, 255, 1) 90%);
}

.Sidebar__nav--toggle{
    display:none;
}

@media screen and (max-width: 1050px){
    .Sidenav{
        width: 100vw;
        height: auto;
        display: flex;
    }

    /*TODO: fix hamburger icon being on let and not being where X is. Close to done with navbar otherwise.*/
    .Sidebar__nav--toggle{
        width:fit-content;
        display: block;
        cursor: pointer;
        right:0;
    }

    .Sidebar__navbar-menu_container{
        right: 0;
    }
    .Sidebar__navbar-menu_container-links{
        right: 0;
    }

    .Sidenav__image img{
        display: none;
    }
    .Sidenav__list{
        display: none;
    }
}

@media screen and (max-width: 700px){
    .content__navbar{
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px){
    .content__navbar{
        padding: 2rem;
    }

    .content__navbar-sign{
        display: none;
    }

    .content__navbar-menu_container{
        top:20px;
    }
    
    .content__navbar-menu_container-links-sign{
        display: block;
    }
}